.header {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.colorBoxListWrapper {
  display: flex;
  width: 100%;
  height: 100px;
}

.colorBoxBorderWrapper {
  display: flex;
  width: 100%;
  height: 50px;
}

.colorbox {
  width: 100%;
}

.colorboxBlue {
  composes: colorbox;
  background-color: #32468d;
}

.colorboxRed {
  composes: colorbox;
  background-color: #ff686d;
}

.colorboxRed {
  composes: colorbox;
  background-color: #ff686d;
}

.colorboxYellow {
  composes: colorbox;
  background-color: #ffc36d;
}

.colorboxLightBlue {
  composes: colorbox;
  background-color: #198cca;
}

.colorboxGreen {
  composes: colorbox;
  background-color: #52acad;
}

.colorboxCyan {
  composes: colorbox;
  background-color: #23b7fe;
}
