.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 16px;
  margin: 16px 0;
}

.section {
  margin: 16px 0;
}

.til {
  font-size: 2em;
  text-decoration: underline;
}

.ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  margin: 16px;
}
